body {
	margin:0;
	background: #B2DFDB;
	padding: 5px;
}
#y {
	text-align: center;
	background-color: #00897B;
	color: white;
	padding: 3px;
	
}
#log {
	float: right;
	padding-bottom: 5px;
}
#name {
	font-size: 30px;
	color: #00695C;
}